:host {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: space-between;
}

.todos {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3em;

  .todo {
    width: 40%;
    margin: 1em;

    &.todo-handset {
      width: 100%;
    }

    .mat-card-actions {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.empty-todo-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      margin-top: 2em;
    }
  }
}

.actions {
  width: 100%;
  display: flex;
  justify-content: center;
}
