<div class="container">
  <ng-template #todos let-todos>
    <div class="row">
      <div *ngFor="let todo of todos" class="col-sm-12 col-md-6 col-lg-3">
        <mat-card class="todo">
          <mat-card-title class="todo-title">{{ todo.title }}</mat-card-title>
          <mat-card-subtitle class="todo-description">
            {{ todo.description }}
          </mat-card-subtitle>
          <mat-card-actions>
            <button
              mat-icon-button
              class="text-green"
              matTooltip="Mark as completed"
            >
              <fa-icon [icon]="['fas', 'check']"></fa-icon>
            </button>
            <button mat-icon-button class="text-red" matTooltip="Delete">
              <fa-icon [icon]="['far', 'trash-alt']"></fa-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <ng-container *ngTemplateOutlet="addbutton"></ng-container>
  </ng-template>

  <ng-template #empty>
    <div class="empty-todo-list">
      <div class="text-center">
        <h1 class="title">Your todo list is empty</h1>
      </div>
      <ng-container *ngTemplateOutlet="addbutton"></ng-container>
    </div>
  </ng-template>

  <ng-template #addbutton>
    <div class="actions">
      <button
        mat-raised-button
        color="accent"
        (click)="openAddTodoDialog()"
        matTooltip="Add Todo"
      >
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
        Add new todo
      </button>
    </div>
  </ng-template>

  <ng-container
    *ngTemplateOutlet="
      (todos$ | async)!.length == 0 ? empty : todos;
      context: { $implicit: todos$ | async }
    "
  >
  </ng-container>
</div>
