<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-12 title text-center">
      <h1 class="mat-display-1">ngrx-browser-storage-store</h1>
      <h3 class="mat-subheading-2">It gives you the ability to easily put your state into localStorage/sessionStorage</h3>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-5 col-sm-8 social">
      <h1>Available at:</h1>
      <a
        class="social-link github"
        href="https://github.com/hadzhiyski/ngrx-browser-storage-store"
        target="_blank"
      >
        <fa-icon [icon]="['fab', 'github']" size="2x"></fa-icon>
      </a>
      <span class="mat-h1">and</span>
      <a
        class="social-link npm"
        href="https://www.npmjs.com/package/ngrx-browser-storage-store"
        target="_blank"
      >
        <fa-icon [icon]="['fab', 'npm']" size="2x"></fa-icon>
      </a>
    </div>
  </div>
</div>
