<form [formGroup]="todoFormGroup" (ngSubmit)="submit()">
  <mat-card>
    <mat-card-title>Add Todo</mat-card-title>
    <mat-card-content class="content">
      <mat-form-field class="todo-title-field">
        <input matInput formControlName="title" placeholder="Title" />
        <mat-error *ngIf="todoFormGroup.invalid">
          enter at least 2 characters
        </mat-error>
      </mat-form-field>

      <mat-form-field class="todo-description-field">
        <textarea
          matInput
          formControlName="description"
          placeholder="Description"
        ></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="actions">
      <button
        mat-icon-button
        matTooltip="Add Todo"
        type="submit"
        [disabled]="todoFormGroup.invalid"
        class="text-green"
      >
        <fa-icon [icon]="['fas', 'check']"></fa-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Close"
        (click)="dialogRef.close()"
        class="text-red"
      >
        <fa-icon [icon]="['fas', 'times']"></fa-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</form>
